include ../../pug/abstracts/variables/articleCard.js.pug

div(class=articleCard.getComponent().name)
  div(class=articleCard.getComponent().el.text)
    h2(class=articleCard.getComponent().el.title) Shift the overall look and feel by adding these wonderful touches to furniture in your home
    p(class=articleCard.getComponent().el.desc) Ever been in a room and felt like something was missing? Perhaps it felt slightly bare and uninviting. I’ve got some simple tips to help you make any room feel complete.
  include ../author-info/author-info.pug
