// ==========================================================================
// palette
// ==========================================================================
//
// primary
// --------------------------------------------------------------------------
$darkBlue-400: hsl(217, 19%, 35%);
$darkGreen-400: hsl(159, 38%, 28%);

///
// neutral
// --------------------------------------------------------------------------
$white-400: hsl(0, 0%, 100%);
$black-400: hsl(0, 0%, 0%);
$lightBlue-400: hsl(214, 17%, 51%);
$lightBlue-500: hsl(212, 23%, 69%);
$lightBlue-600: hsl(210, 46%, 95%);

// ==========================================================================
// base
// ==========================================================================
//
// body
// --------------------------------------------------------------------------
$body_bg-clr: $lightBlue-600;
$body_clr: $lightBlue-400;

//
// headings
// --------------------------------------------------------------------------
$h_clr: $darkBlue-400;

// ==========================================================================
// components
// ==========================================================================
//
// attribution
// --------------------------------------------------------------------------
$attr_bg-clr: $black-400;
$attr_clr: $white-400;
$attr__link_clr: $darkGreen-400;
$attr__link_hov-clr: $white-400;

//
// article-preview
// --------------------------------------------------------------------------
$art-prev_bg-clr: $white-400;

//
// author-info
// --------------------------------------------------------------------------
$author-info__date_clr: $lightBlue-500;

//
// socials__dropdown
// --------------------------------------------------------------------------
$soc__dropdown_bg-clr: $darkBlue-400;

//
// share-btn
// --------------------------------------------------------------------------
$share-btn_bg-clr: $lightBlue-600;
$share-btn_active-bg-clr: $lightBlue-400;
$share-btn_active-hover-bg-clr: $white-400;
