@use "../abstracts/mixins" as *;
@use "../themes/_theme" as t;

// ==========================================================================
// all
// ==========================================================================
*,
*::before,
*::after {
  @include reset;
}

// ==========================================================================
// body
// ==========================================================================
body {
  @include grid($gTR: true, $gTRVal: 1fr auto);

  background: {
    color: t.$body_bg-clr;
  }
  color: t.$body_clr;
  min: {
    height: 100vh;
  }
}

// ==========================================================================
// main
// ==========================================================================
main {
  @include grid($pI: true);
}
