@use "../abstracts/_variables" as v;
@use "../themes/_theme" as t;

// ==========================================================================
// body
// ==========================================================================
body {
  font: {
    family: v.$primaryFont;
    size: 0.8125rem;
    weight: v.$fw-500;
  }
}

// ==========================================================================
// headings
// ==========================================================================
h2 {
  color: t.$h_clr;
  font: {
    size: 1.02rem;
    weight: v.$fw-700;
  }
}

h3 {
  color: t.$h_clr;
  font: {
    size: 0.83rem;
    weight: v.$fw-700;
  }
}
